
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
}

/*header section is here*/
.banner {
    background: rgba(229, 84, 115, 0.1);
    padding: 50px 240px 0px;
    height: 850px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

text {
    max-width: 700px;
    }

.let{
    color: #272727;
font-size: 90px;
font-weight: 800;
width: 700px;

}

.it-is {
    color: rgba(39, 39, 39, 0.60);
font-size: 30px;
font-weight: 400;
line-height: 30px;
width: 650px;
margin-top:32px ;
}

.pts {
    border-radius: 8px;
background: #f56d6d;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: white;

}

.img {
    width: 635px;
}



/*footer section is here*/

footer {
    background: #080808;
    height: 450px;

}

.ftext {
    align-items: center;
    padding: 128px 649px 128px;
    display: inline;
    text-align: center;
    
}

.fs {
    color: #E55473;
font-size: 48px;
font-weight: 800;
margin-top: 128px;

}

.its {
    color: rgba(255, 255, 255, 0.90);
    height: 60px;
    margin-top: 24px;
 
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.cpr {
    color: rgba(104, 101, 101, 0.4);
text-align: center;
font-size: 16px;
font-weight: 400;
margin-top: 32px;
}


/*down section*/
.banner-dis { 
    width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 100px 400px;
}


.hib {
    align-items: center;
    
    
} 


.ht {
    color: #272727;
font-size: 40px;
font-weight: 800;



}

.is {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

.btn { 
    text-align: center;
    border-radius: 8px;
    background: #f56d6d;
    color: white;
    height: 60px;
    width: 150px;
} 